* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: aliceblue; }

body {
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #111; }

.heading-primary--main {
  font-family: Cambria, Georgia, serif;
  font-size: 5rem; }

.heading-primary--sub {
  font-size: 2rem; }

.heading-secondary {
  font-size: 2.4rem; }

.heading-tertiary {
  font-size: 2rem; }

.sub-heading {
  font-size: 1.4rem; }

p {
  font-size: 1.6rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
  /*@include respond(tab-port) {
        margin-bottom: 3rem !important;
    }*/ }

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
  /*@include respond(tab-port) {
        margin-bottom: 5rem !important;
    }*/ }

.u-margin-top-small {
  margin-top: 1rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.about {
  display: flex;
  height: 28rem; }
  .about__img-container {
    flex: 0 0 50%;
    width: 100%; }
  .about__img {
    background-image: url(../img/about-pic.jpg);
    background-size: cover;
    background-position-y: -5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%; }

.about-us {
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column; }
  .about-us__title {
    align-self: center; }

.mission-statement {
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column; }
  .mission-statement__title {
    align-self: center; }

.btn {
  background-color: #705CF2;
  color: #fff; }
  .btn, .btn:link, .btn:visited {
    font-size: 1.8rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.2rem 2rem;
    border-radius: 10rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    border: none;
    cursor: pointer; }
  .btn::after {
    background-color: #705CF2; }
  .btn:active, .btn:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.contact-info {
  display: flex;
  justify-content: center;
  align-items: center; }
  .contact-info__contact-us {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 2rem; }
  .contact-info__section {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center; }
    .contact-info__section--1 {
      width: 50%; }
    .contact-info__section--2 {
      width: 50%; }
  .contact-info__contact-us * {
    margin: .5rem; }
  .contact-info__map {
    height: 30rem;
    flex: 0 0 50%; }
    .contact-info__map iframe {
      width: 100%;
      height: 100%; }

.footer {
  background-image: linear-gradient(280deg, #b48dd8 0%, #5f99d4 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 8rem;
  border-top: 3px solid #111; }
  .footer * {
    margin: .4rem; }
  .footer__icon-box {
    display: flex; }
  .footer__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin: .5rem; }

.nav-primary {
  background-color: #B1A6F4;
  background-image: linear-gradient(120deg, #b48dd8 0%, #5f99d4 100%);
  padding: 2rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.4rem;
  border-bottom: 3px solid #111; }
  .nav-primary .logo {
    font-family: Cambria, Georgia, serif;
    display: flex; }
    .nav-primary .logo__icon {
      width: 4.6rem;
      height: 4.6rem;
      margin: 0rem 2rem; }
  .nav-primary__list {
    margin-left: 6rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    list-style: none; }
  .nav-primary__link:link, .nav-primary__link:visited {
    color: inherit;
    text-decoration: none; }
  .nav-primary__item {
    display: flex;
    align-items: center; }
    .nav-primary__item:not(:last-child) {
      padding-right: 2rem; }
  .nav-primary__item--phone-icon {
    width: 2.4rem;
    height: 2.4rem;
    margin: 0rem .8rem; }

.testimonials {
  margin: 2rem;
  padding: 0 2rem; }
  .testimonials__section {
    display: flex;
    padding: 2rem;
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    border-radius: 5px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .testimonials__title {
    text-align: center; }
  .testimonials__section--1 {
    display: flex;
    align-items: center;
    flex-basis: 15%; }
  .testimonials__section--2 {
    flex-basis: 85%;
    display: flex;
    flex-direction: column; }
  .testimonials__img {
    border-radius: 50%;
    margin-right: 1rem;
    backface-visibility: hidden;
    width: 14rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .testimonials__text {
    padding: 2rem; }

.services {
  display: flex;
  margin: 2rem; }
  .services__service-container {
    background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    border-radius: 2%;
    padding: 2rem;
    flex-basis: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2rem; }
    .services__service-container *:not(:last-child) {
      padding-bottom: 2rem; }

.hero-banner {
  /*background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.2),
        rgba($color-primary-dark, 0.2)),
    url(../img/purple-clouds.jpg);*/
  background-image: url(../img/purple-clouds.jpg);
  background-size: cover;
  border-bottom: 3px solid #111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 48rem; }
  .hero-banner__title:not(:last-child) {
    padding-bottom: 4rem; }
