// COLORS
$color-primary: #705CF2;
$color-primary-light: #B1A6F4;
$color-primary-dark: #5849BF;

$color-secondary-light: #99BBFF;
$color-secondary-dark: #6368EB;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-dark-4: #111;

$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;

// BREAKPOINTS
$bp-largest: 48em; //770px