.about {
    //testing
    background-color: beige;

    display: flex;

    height: 28rem;
}

.about-us {
    background-color: cadetblue;
    padding: 2rem 2rem;
}

.mission-statement {
    background-color: chocolate;
    padding: 2rem 2rem;
}