.hero-banner {
    background-image: url(../img/purple-clouds.jpg);
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 48rem;
}