.hero-banner {
    /*background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.2),
        rgba($color-primary-dark, 0.2)),
    url(../img/purple-clouds.jpg);*/

    background-image: url(../img/purple-clouds.jpg);
    background-size: cover;

    border-bottom: 3px solid $color-grey-dark-4;    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 48rem;

    &__title {
        &:not(:last-child) {
            padding-bottom: 4rem;
        }
    }
}