.nav-primary {
    //testing
    background-color: $color-primary-light;

    padding: 2rem 0;

    //width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: 1.4rem;

    &__list {
        margin-left: 6rem;
        
        display: flex;
        align-items: center;

        list-style: none;
    }

    &__link {
        &:link,
        &:visited {
            color: inherit;
            text-decoration: none;
        }
    }

    &__item {

        &:not(:last-child) {
            padding-right: 2rem;
        }
    }
}