.testimonials {
    background-color: darkgoldenrod;

    padding: 2rem 2rem;

    div{
        display: flex;

        margin-top: 1.6rem;
    }

    &__title {
        text-align: center;
    }

    &__img {
        background-color: deeppink;

        flex: 0 0 32%;

        height: 16rem;
    }

    &__text{
        background-color: burlywood;
        padding: 2rem;
    }
}